@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* (dark)  pink 1 
   (light) pink 2 #F993B1 
   light bauge rgb(255, 255, 255) */
body {
    margin: 0px;
    background-color: #F65992;
    background-image: url("/potential_logos/bcg.png");
    background-size: 20px;
    background-repeat: round;
   
}
div.head {
    display: block;
    width: 100%;
    height: 0.5cm;
    background-color: #999;
}
header {
    margin: 0px;
   
    text-align:center;
    background-color: rgb(38, 20, 44);
    color: #F65992;
    
}
ul.logo {
    
    list-style-type: none;
    margin: 0px;

}
ul.logo li {
    display: inline-block;
    position: relative;
    left: -10%;
 
    
}
h1 {
   
    font-family: Italianno;
    font-size: 87px;
    text-align: center;
    font-weight: 500;
    
    
    
}
img.logo {
        margin-right: 15px;
        background-color: pink;
        position: relative;
        top: 30px;
        height :120px;
        border-radius: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    top: -20px;
    width: fit-content;
    min-width: 80%;
    min-height: 300px;
    background-color:white;
    box-shadow: 9px 9px black;
} 

/* makeup */
.makeup {
 
    padding: 0px;
    border: 5px solid black;
    width:min-content;
    height: min-content;
    text-align: center;
    background-color: #F65992 ;
    margin: auto;
    text-align:center;

}
.makeup img {
    border-bottom :3px solid black;
    margin: 0px;
    width: 210px;
    height: 117px;
}
.makeup figcaption {
    margin: 0px;
    position: relative;
    top: -1px;
    color:rgb(255, 255, 255) ;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  
}



